body{
    background-size: cover;
}
.heading{
    font-size: 20px;
    width: 100%;
    margin: 0px;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 2;
}
canvas{
    border: 2px solid blue;
    border-radius: 20px;
    margin-top: 80px;
    box-shadow: 5px 5px 5px black;
}